.slider-container-main {
    position: relative;
    width: 100%;
    max-width: 909px;
    margin: auto;
    overflow: hidden;
}

.slider-container-main .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-container-main .image-container img {
    width: 100%;
    border-radius: 10px;
}

.slider-container-main button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
}

.slider-container-main button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slider-container-main button:nth-of-type(1) {
    left: 10px;
}

.slider-container-main button:nth-of-type(2) {
    right: 10px;
}